@font-face {
  font-family: 'ProximaNova Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/ProximaNovaAltLight.otf') format('OpenType');
}

@font-face {
  font-family: 'ProximaNova Alt Thin';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/ProximaNovaAltThin.otf') format('OpenType');
}

@font-face {
  font-family: 'ProximaNova Thin';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/ProximaNovaThin.otf') format('OpenType');
}

@font-face {
  font-family: 'ProximaNova Regular';
  font-weight: 400;
  src: url('../fonts/ProximaNovaRegular.otf') format('OpenType');
}

@font-face {
  font-family: 'ProximaNova Black';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/ProximaNovaBlack.otf') format('OpenType')
}

@font-face {
  font-family: 'ProximaNova Bold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/ProximaNovaBold.otf') format('OpenType')
}

@font-face {
  font-family: 'ProximaNova Extra Bold';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/ProximaNovaExtrabold.otf') format('OpenType')
}


body {

  font-family: 'ProximaNova Regular';

  font-size: 18px;
  letter-spacing: 0.02em;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

section {
  position: relative;
}

a {
  text-decoration: none;

}

header a {

  color: #000;
}

a:hover {
  color: #ffe715;
}

section {
  position: relative;
}

a:hover {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

p {
  line-height: 30px;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

button:focus {
  outline: 1px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

.text_white {
  color: #fff;
}

ul {
  padding: 0px;
  position: relative;
  list-style: none;
}

.bg_yellow {
  background: #FFE715;
}

.bg_dark {
  background: #101920;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
}

.bg_light_gray {
  background: #f9f9f9;
}

a.cta_btn {
  background: #FFE715;
  color: #000;
  padding: 18px 32px;
  border-radius: 50px;
  font-size: 16px;
  letter-spacing: 0.05em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'ProximaNova Extra Bold';
  position: relative;
}



a.cta_btn.cta_big {
  font-size: 20px;
}

a.cta_btn.cta_big.cta_black svg {
  fill: #fff;
}

a.cta_btn.cta_big.cta_black {
  background: #000;
  color: #fff;
}

/**/

.main_header {
  width: 88%;
  margin: auto;
}



.navbar-expand-lg .navbar-nav a {
  padding: 8px 20px !important;
  font-size: 16px;
  position: relative;
  transition: all .1s ease;
}

.navbar-nav li.active a {


  color: #000;
  font-family: 'ProximaNova Extra Bold';

}

.navbar-nav li a:hover,
.navbar-nav li a:focus {

  font-weight: 600;
  color: #000;
  transition: all .1s ease;
}


.navbar-nav li a:before {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  border-radius: 30px 30px 30px 30px;
  border: 3px solid;
  border-color: #ffe715 transparent transparent;
  opacity: 0;
  transition: all 0.3s ease;
}

.navbar-nav li a:after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  border-radius: 30px 30px 30px 30px;
  border: 3px solid;
  border-color: transparent transparent #ffe715;
  opacity: 0;
  transition: all 0.3s ease;
}

.navbar-nav li.active a:after,
.navbar-nav li.active a:before,
.navbar-nav li a:hover::before,
.navbar-nav li a:hover:after {
  opacity: 1;
  top: 50%;
  transition: all 0.3s ease;

}



.main_menu {
  transition: all 0.2s ease;
  padding: 13px 0px;
  background: #fff;
  transform: translate(0, -0px);
  transition: all 0.3s ease;
}


.main_menu.in-view {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translate(0, -200px);
}

.main_menu.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  box-shadow: 0px 0px 20px 0px #00000075;
  transform: translate(0, -0px);
  transition: all 1s ease;
}

.search-open {
  overflow: hidden;
}

.search-box .close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: 0;
  font-size: 1rem;
  font-weight: 700;
  display: block;
  cursor: pointer;
  color: black;
  padding: 12px 20px;
  background: white;
  border-radius: 50%;
  outline: none;
}

.search-box .close:hover {
  background: #ffe715;
}

.search-box.search-elem {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #000;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.search-box.search-elem .inner {
  width: 26%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.search-box.search-elem label {
  color: white;
  font-weight: 300;
}

.search-box.search-elem button.submit {
  outline: none;
  position: absolute;
  top: 0;
  right: 15px;
  height: 72px;
  padding: 10px 2rem;
  background: #ffeb3b;
  border: 1px solid #ffeb3b;
  font-size: 1rem;
  color: #000;
}

.search-box.search-elem button.submit[disabled] {
  background: #ccc;
  color: #32213A;
  border: 0px solid #ffeb3b;
}

.search-box.search-elem input[type=text] {
  padding: 15px 60px 15px 15px;
  height: 72px;
  font-size: 24px;
  font-weight: 300;
  border: none;
  border-bottom: solid 0px #999;
  transition: border 0.3s;
  border-radius: 0;
}

.search-box.search-elem input[type=text]:focus {
  border-bottom: solid 0px #00A896;
  box-shadow: none;
}

.search_form_page input[type=text] {
  padding: 15px 60px 15px 15px;
  height: 72px;
  font-size: 24px;
  font-weight: 300;
  border: none;
  border: solid 1px #999;
  transition: border 0.3s;
  border-radius: 0;
}

.search-box.search-elem label.placeholder {
  position: absolute;
  top: 10px;
  left: 2rem;
  font-size: 32px;
  font-weight: 300;
  color: #999;
  transition: all 0.3s;
}

.search-box.search-elem label.placeholder.move-up {
  top: -25px;
  color: white;
  font-size: 1rem;
}

.search-box.search-elem.search-open {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.search-btn {
  margin-left: 20px;
}

.search-btn:hover {
  color: #00A896;
}

/*Slider*/
.main_slider .item {
  /* height: 100vh; */
  position: relative;
}

.main_slider .item img {
  width: 100%;

  object-fit: cover;
}

.main_slider .item .play_btn img {
  width: auto;
}

.main_slider .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.6); */
  display: flex;
  align-items: center;
}

.main_slider .item .cover .header-content {
  position: relative;
  padding: 30px 0px;
  overflow: hidden;
}


.main_slider .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}

.main_slider .item .cover .header-content h2 {

  font-size: 60px;
  color: #fff;

  font-family: 'ProximaNova Extra Bold'
}

.main_slider .item .cover .header-content h1 {
  font-size: 56px;

  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
}

.main_slider .item .cover .header-content h4 {
  font-size: 20px;

  line-height: 60px;
  color: #fff;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav {
  margin-top: 10px
}

.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none
}

.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 10px
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 60px;
  margin: 10px 5px;
  background: #555455;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #FFE715;
}

.play_pause_icon {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 20px;
  border-color: transparent transparent transparent #fff;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 12px 0 12px 20px;
}

.play_pause_icon.paused {
  border-style: double;
  border-width: 0px 0 0px 18px;
}


.play_pause_btn {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #52505100;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid #fff;
  cursor: pointer;
}

.main_slider .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

.main_slider .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}

.main_slider .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}

.main_slider .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}

.main_slider .owl-item.active a {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}


.main_slider .owl-nav .owl-prev,
.main_slider .owl-nav .owl-next {
  position: absolute;
  background: transparent !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  display: block;
  z-index: 1000;
  border-radius: 0;
  right: 16%;
  bottom: 55px;
}

.main_slider .owl-nav .owl-prev {
  right: 18%;
}

.main_slider .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}

.main_slider .owl-nav .owl-prev:focus {
  outline: 0;
}

.main_slider .owl-nav .owl-prev:hover {
  background: transparent !important;
}



.main_slider .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}

.main_slider .owl-nav .owl-next:focus {
  outline: 0;
}

.main_slider .owl-nav .owl-next:hover {
  background: transparent !important;
}

div#banner_slider .owl-dots {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  display: flex;
  flex-direction: column;
}

div#banner_slider .owl-dots .owl-dot button {
  border: 0;
  background: transparent;
  color: #fff;
  font-size: 22px;
  margin: 0px 15px;
  line-height: 32px;
}

div#banner_slider .owl-dots .owl-dot.active button {
  border-bottom: 1px solid #fff;
}


/**/

.content_box h2 {
  font-size: 56px;
  font-family: 'ProximaNova Extra Bold';
  font-style: normal;



}


section.home_sec3 {
  background: #FFE715;
  padding: 100px 0px;
}

.default_title h2 {
  font-size: 56px;
  font-family: 'ProximaNova Extra Bold';
  font-style: normal;



}

section.home_sec5 {
  background: #101920;
  padding: 150px 0px 125px;
  color: #fff;
}

.quote {
  display: inline-flex;
  background: #ffe715;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  width: 80px;
  height: 80px;
  left: -60px;
  top: -50px;
}

div#testimonial-slider .owl-item img {
  width: auto;
}

div#testimonial-slider .owl-nav {
  position: absolute;
  left: calc(-75%);
}

div#testimonial-slider .owl-nav button {
  margin: 0px 10px;
  transition: all 0.5s ease;
}

div#testimonial-slider .owl-nav button.disabled img {
  max-width: 25px;
  transition: all 0.5s ease;
}

.testimonial .description h3 {
  font-size: 30px;

  font-family: 'ProximaNova Regular';
  padding-bottom: 10px;
}

.testimonial h4 {
  font-size: 20px;

}

section.home_sec6 {
  padding: 100px 0px 100px;
}

.blog_box {
  position: relative;
}

.blog_box:before {
  content: '';
  position: absolute;
  background: rgb(16 25 32 / 80%);
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

.blog_box .blog_title {
  bottom: 0;
  position: absolute;
  color: #fff;
  padding: 30px 30px 15px;
}

.blog_box .blog_title a {
  color: #fff;
}

.blog_title span {
  background: #ffe715;
  color: #000;
  font-size: 14px;
  padding: 2px 15px;
  border-radius: 50px;
}

.blog_title p {
  margin: 0;
  font-size: 14px;
  margin-left: 10px;
}

.blog_box .blog_title h3 {
  font-size: 20px;
}

div#blog_slider .owl-nav .owl-prev,
div#blog_slider .owl-nav .owl-next {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #EEEEEE;
  border-radius: 50%;
  top: calc(50% - 40px);
}

div#blog_slider .owl-nav .owl-prev {
  left: -140px;

}

div#blog_slider .owl-nav .owl-next {
  right: -140px;

}

footer {
  padding: 100px 0px 10px;
  background: #101920;
  color: #fff;
}

footer.footer_inner {
  padding: 40px 0px 10px;
}

.default_title span {
  background: #ffe715;
  color: #000;
  font-size: 14px;
  padding: 4px 15px;
  border-radius: 50px;
}

.default_title h4 {
  font-size: 30px;
  font-family: 'ProximaNova Regular';
}


.contact_form .form-control:focus {
  color: #fff;
  background-color: transparent;
  border-color: #ffe715;
  outline: 0;
  box-shadow: none;
}




.contact_form fieldset input,
.contact_form fieldset select,
.contact_form fieldset textarea {
  border: 0px;
  padding-left: 0px;
  border-bottom: 1px solid #ddd;
  border-radius: 0px;
  background: transparent;
  font-size: 18px;
  color: #fff;
}

.contact_box .contact_form .form-control:focus {
  color: #000;
}

.contact_box .contact_form fieldset input,
.contact_box .contact_form fieldset select,
.contact_box .contact_form fieldset textarea {

  color: #000;
}

.contact_form {
  font-size: 14px;
}

.contact_form fieldset span,
.contact_form .wpcf7-response-output {
  color: #ffe715;
}

#contactform .contact_form fieldset span,
#contactform .contact_form .wpcf7-response-output {
  color: red;
}


.contact_form fieldset input::-webkit-input-placeholder,
.contact_form fieldset textarea::-webkit-input-placeholder {
  /* Edge */
  color: #ddd;
  font-size: 18px;
}

.contact_form fieldset input:-ms-input-placeholder,
.contact_form fieldset textarea::-webkit-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ddd;
  font-size: 18px;
}

.contact_form fieldset input::placeholder,
.contact_form fieldset textarea::-webkit-input-placeholder {
  color: #ddd;
  font-size: 18px;
}


.contact_form.form_box fieldset input::-webkit-input-placeholder,
.contact_form.form_box fieldset textarea::-webkit-input-placeholder {
  /* Edge */
  color: #000;
  font-size: 18px;
}

.contact_form.form_box fieldset input:-ms-input-placeholder,
.contact_form.form_box fieldset textarea::-webkit-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
  font-size: 18px;
}

.contact_form.form_box fieldset input::placeholder,
.contact_form.form_box fieldset textarea::-webkit-input-placeholder {
  color: #000;
  font-size: 18px;
}

.contact_form fieldset select {
  color: #ddd;
  font-size: 18px;
}

input.input_field_send {
  border: 0px;
  color: #fff;
  background: transparent;
  opacity: 0;
  position: absolute;
  z-index: 9;
  width: 100%;
}

.cta_btn_1.cta_small.send {
  position: relative;
  display: inline-block;
}

.send_btn {
  position: relative;
  background: #ffe715;
  color: #000;
  padding: 18px 40px;
  border-radius: 50px;
  font-size: 16px;
  letter-spacing: 0.05em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'ProximaNova Extra Bold';
}

a.cta_2 {
  border: 2px solid #000;
  color: #000;
  font-size: 22px;
  padding: 25px 30px;
  border-radius: 50px;
  font-family: 'ProximaNova Extra Bold';
  display: block;
  text-align: center;

}

.button_box a.cta_2 {
  min-width: 75%;
  cursor: initial;
}

.send_btn span {
  font-size: 20px;
}


.footer_bottom a:hover {
  color: #ffe715;
}

.footer_bottom a {
  color: #fff;
  font-size: 20px;
}

.copyright p,
.copyright a {
  font-size: 12px;
  margin-bottom: 0px;
  color: #878C8F;
}

.copyright ul {
  display: inline-flex;
}

.footer_box ul {
  display: flex;
}

.footer_box ul li a {
  margin-right: 15px;
  padding: 10px 10px 10px 0px;
}

.copyright ul li {
  margin-right: 45px;
}

.copyright p a {
  color: #ffe715;
}

/**************************/
.page_banner {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 350px;
}

.icon_box h4 {
  font-size: 20px;
  font-family: 'ProximaNova Extra Bold';
}

.icon_box .icon {
  display: flex;
  height: 90px;
  width: 90px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background .5s;
}

.icon_box:hover .icon {
  background: #ffe715;
  transition: background .5s;

}

/**********************/
.search_box {
  position: relative;
}

form.search fieldset input {
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 10px 100px 10px 30px;
  height: 70px;
  font-size: 18px;
}

form.search fieldset button {
  position: absolute;
  right: 8px;
  border: 0px;
  background: transparent;
  width: 75px;
  height: 64px;
  top: 3px;
}

ul.default_list {
  list-style: disc;
  padding-left: 20px;
}

ul.default_list li {
  padding: 10px 0px;
}

img.img_move1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

.icon_box_2 h4 {
  font-size: 20px;
  font-family: 'ProximaNova Extra Bold';
}

.icon_box_2 img {
  border-radius: 50%;
}

.icon_box_2 p {
  line-height: 25px;
}

section.movie-subtitle-sec3 {
  padding: 275px 0px 50px;
}

section.movie-subtitle-sec2 {
  min-height: 585px;
}

img.img_move2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -235px;
}

section.movie-subtitle-sec5 {
  padding: 85px 0px 85px;
}

/*************************/

.icon_box .black_white img {
  filter: brightness(0) invert(1);
}

.icon_box:hover .black_white img {
  filter: brightness(0) invert(0);
}

ul.list_style2 h4 {
  font-size: 22px;
  font-family: 'ProximaNova Extra Bold';
  margin-bottom: 5px;
}

ul.list_style2 {
  list-style: disc;
  padding-left: 20px;
  margin-top: 15px;
}

ul.list_style2 li {
  padding-bottom: 10px;
}

ul.list_style2 li:last-child {
  padding: 0px;
}

section.brand-care-sec2 {
  padding: 30px 0px 75px;
}

section.brand-care-sec3 {
  padding: 75px 0px 60px;
}

div#brand-slider .owl-item img {
  width: auto;
  margin: auto;
}

div#brand-slider .brand_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
}

/**********Blogs************/

.blog_box.blog_style2 a {
  display: block;
  transition: all 0.1s ease;
}

.blog_box.blog_style2 a:hover h3 {
  color: #555;
  transition: all 0.1s ease;
}

.blog_box.blog_style2 a .img_box img {
  transition: all 0.5s ease;
}

.blog_box.blog_style2 .img_box {
  overflow: hidden;
}

.blog_box.blog_style2 a:hover .img_box img {
  transform: scale(1.1);
  transition: all 0.5s ease;
}


.blog_box.blog_style2:before {
  content: none;
}

.blog_box.blog_style2 .blog_title {
  bottom: 0;
  position: relative;
  color: #000;
  padding: 30px 30px 15px;
}

#custom_pagination ul {
  margin: 0 0 0px;
  padding: 0;
  list-style: none;
  text-align: center;
}

#custom_pagination li {
  display: inline-block;
  margin-right: 5px;
}

#custom_pagination li a,
#custom_pagination li span {
  width: 70px;
  height: 70px;
  color: #000;
  text-decoration: none;
  border: 0px solid #EEE;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

#custom_pagination .current {
  color: #000;
  font-weight: 900;
  background-color: #ffe715;
  border-color: #ffe715;
}

#custom_pagination li a.page-link.next,
#custom_pagination li a.page-link.prev,
#custom_pagination li span.prev {
  display: none;
}

#custom_pagination .prev.current,
#custom_pagination .next.current {
  background: #6ea616;
}

#custom_pagination span.prev.current,
#custom_pagination span.next.current {
  background-color: #666;
  border-color: #666;
  cursor: not-allowed;
  display: none;
}

/*******************/
.policy_box h4 {
  font-size: 20px;
  font-family: 'ProximaNova Extra Bold';
}

/********Contact**********/

.address_box ul li {
  margin-bottom: 1.5rem;
}

.address_box ul p {
  margin: 0px;
}

.address_box ul h5 {
  margin-top: 5px;
}

.address_box ul a,
.address_box ul h5 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

/*******About Us********/

section.about-us-sec3 {
  padding: 120px 0px;
}

.icon_box.box_style3 {
  background: #fff;
  box-shadow: 0px 10px 30px -10px #0000006e;
}

.box_up_down {
  position: relative;
}

.box_up_down .up_box {
  position: absolute;
  bottom: 12.5px;
}

.box_up_down .down_box {
  position: absolute;
  top: 12.5px;
}

.box_grid {
  padding: 100px 50px;
}

.icon_box.box_style3:hover .icon {
  background: none;
}

.profile_box h4 {
  font-size: 20px;
  font-family: 'ProximaNova Extra Bold';
}

section.about-us-sec5 {
  padding: 75px 0px 60px;
}

section.about-us-sec5 .icon_box:hover .icon {
  background: #fff;
}

.profile_box:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent;
  border-radius: 50%;
  z-index: 1;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;

  transition: all .7s ease;
}

.profile_box:hover::after {
  background: #ffe715cf;
  transition: all .7s ease;
}

.profile_box {
  position: relative;
}

/*******Single Blog******/

.recent_blogs .blog_box a {
  display: flex;
}

.recent_blogs .blog_box .blog_title {
  padding: 0px 10px 10px;
}

.recent_blogs .blog_box a .img_box {
  max-width: 30%;
}

.recent_blogs .blog_title p,
.recent_blogs .blog_title span {

  font-size: 12px;
}

.recent_blogs .blog_box .blog_title h3 {
  font-size: 15px;
}

.recent_blogs h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  background: #000;
  padding: 15px 15px;
  color: #fff;
}

.other_blog_box .blog_box .blog_title {
  padding: 0px 0px 0px 10px;
}

.recent_blogs {
  border: 1px solid #ddd;
  border-bottom: 0px;
}

.other_blog_box .blog_box {
  padding: 10px 10px 5px;
  border-bottom: 1px solid #ddd;

}


section.brand-care-sec1 button.video_btn {
  background: transparent;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.video_box button.btn-close {
  position: absolute;

  right: -30px;
  top: 0px;
}

.video_box .modal-dialog {
  max-width: max-content;
}

.video_box .modal-dialog .modal-content {
  border-radius: 0px;
  background: transparent;
  border: 0px;
}

/*SEO Page*/

.seo_box ul {
  list-style: square;
  padding-left: 30px;
  margin-top: 30px;
}

.seo_box ul li {
  font-size: 16px;
  padding: 5px 0px;
}

.seo_box {
  border: 0px solid #ddd;
  padding: 20px;
  box-shadow: 0px 5px 15px 6px #0000000f;
}

.seo_box .icon {
  margin: auto;
}

.seo_box h4 {
  text-align: center;
}

section#otherservices a.link_box {
  color: #fff;
}

section#otherservices a.link_box:hover {
  color: #ffe715;
}

section.home_sec7 {
  background: #101920;
  color: #fff;
  padding-top: 100px;
}

.speech {
  position: relative;
}

.speech img {
  position: absolute;
  max-width: 50px;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.screen-reader-response {
  display: none;
}

/*Resonsive part*/

@media(max-width:1440px) {


  .owl-theme .owl-dots .owl-dot span {
    height: 40px;
    margin: 7px 5px;
    width: 8px;
  }

  div#blog_slider .owl-nav .owl-prev,
  div#blog_slider .owl-nav .owl-next {

    width: 55px;
    height: 55px;
    top: calc(50% - 30px);
  }

  div#blog_slider .owl-nav .owl-prev {
    left: -60px;
  }

  div#blog_slider .owl-nav .owl-next {
    right: -60px;
  }

  .main_header {
    width: 96%;
  }

  .page_banner {
    min-height: 275px;
  }
}

@media(max-width:1366px) {

  .content_box h2,
  .default_title h2 {
    font-size: 48px;
  }

  .navbar-expand-lg .navbar-nav a {
    padding: 8px 15px !important;

  }

  div#blog_slider .owl-nav .owl-prev,
  div#blog_slider .owl-nav .owl-next {

    top: calc(50% - 40px);
  }

  div#blog_slider .owl-nav .owl-prev {
    left: -80px;
  }

  div#blog_slider .owl-nav .owl-next {
    right: -80px;
  }

  .page_banner {
    min-height: 250px;
  }

  .icon_box_2 img {
    max-width: 50%;
  }

  section.about-us-sec3 {
    padding: 175px 0px 150px;
  }

}

@media(max-width:1280px) {

  .content_box h2,
  .main_slider .item .cover .header-content h2,
  .default_title h2 {
    font-size: 48px;
  }

  a.cta_btn.cta_big {
    font-size: 18px;
    padding: 16px 25px;
  }

  .page_banner {
    min-height: 250px;
  }

  .navbar-expand-lg .navbar-nav a {
    padding: 8px 10px !important;

  }
}

@media(max-width:1192px) {

  .main_slider .owl-nav .owl-prev,
  .main_slider .owl-nav .owl-next {
    right: 12%;
  }

  .main_slider .owl-nav .owl-prev {
    right: 16%;
  }

  .main_header {
    width: 100%;
  }

  .play_pause_btn {

    width: 75px;
    height: 75px;
  }

  .content_box h2,
  .main_slider .item .cover .header-content h2,
  .default_title h2 {
    font-size: 40px;
  }

  a.cta_btn.cta_big {
    font-size: 16px;
    padding: 16px 25px;
  }

  .main_menu a.cta_btn {
    font-size: 16px;
    padding: 10px 25px;
  }

  .navbar-expand-lg .navbar-nav a {
    padding: 8px 8px !important;
    font-size: 14px;
  }

  a.navbar-brand {
    max-width: 110px;
  }

  div#blog_slider .owl-nav .owl-prev,
  div#blog_slider .owl-nav .owl-next {
    top: calc(-60px);
    width: 45px;
    height: 45px;
  }

  div#blog_slider .owl-nav .owl-prev {

    left: auto;
    right: 55px;
  }

  div#blog_slider .owl-nav .owl-next {
    right: 0px;
  }

  .quote {

    width: 60px;
    height: 60px;
    left: -40px;
    top: -40px;
  }

  .default_title h4 {
    font-size: 24px;
  }

  .send_btn {

    padding: 12px 35px;
  }

  .page_banner {
    min-height: 185px;
  }

  form.search fieldset input {
    font-size: 16px;
    height: 50px;
  }

  form.search fieldset button img {
    max-width: 20px;
  }

  form.search fieldset button {
    height: 44px;

  }

  .button_box a.cta_2 {
    min-width: 85%;
    padding: 20px 30px;
  }

  .blog_box.blog_style2 .blog_title {
    padding: 20px 0px 0px;
  }

  .other_blog_box .blog_box .blog_title {
    padding: 0px 0px 0px 10px;
  }

  section.about-us-sec3 {
    padding: 125px 0px 100px;
  }

  .profile_box:after {
    width: 175px;
    height: 175px;
  }

  .main_menu a.cta_btn {
    font-size: 15px;
    padding: 8px 20px;
  }

  .search-box.search-elem .inner {
    width: 45%;
  }
}

@media(max-width:992px) {

  p,
  li {
    line-height: 30px;
    font-size: 16px;
  }

  .main_menu {
    transform: none;
  }

  .navbar-collapse {
    position: fixed;
    background: #fff;
    left: -100%;
    width: 50%;
    right: 0;
    top: 0;
    z-index: 99;
    min-height: 100vh;
    box-shadow: inset -15px 0px 15px -15px #0000002e;
    transition: all 0.3s ease;
  }

  .navbar-expand-lg .navbar-nav a {
    padding: 12px 0px 12px 0px !important;
    font-size: 20px;
    display: inline-block;

  }

  a.navbar-brand {
    max-width: 175px;
  }

  .navbar-collapse.show {
    left: 0%;
    transition: all 0.3s ease;
    padding: 20px !important;
  }

  .navbar-nav li {
    border-bottom: 1px solid #ddd;
  }

  .navbar-nav li:last-child {
    border-bottom: 0px solid #ddd;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  button.navbar-toggler {
    border: 0px solid #fff;
  }

  .navbar-expand-lg .navbar-nav a.active {
    background: #8ed61d !important;
  }

  .logo_box {

    min-height: 100px;
  }

  .owl-theme .owl-dots .owl-dot span {
    height: 25px;
    margin: 5px 5px;
    width: 7px;
  }

  .content_box h2,
  .main_slider .item .cover .header-content h2,
  .default_title h2 {
    font-size: 30px;
  }

  a.cta_btn.cta_big {
    font-size: 15px;
    padding: 10px 25px;
  }

  .play_pause_btn {
    width: 60px;
    height: 60px;
  }

  .content_box h2,
  .main_slider .item .cover .header-content h2,
  .default_title h2 {
    font-size: 24px;
  }

  section.home_sec3 {

    padding: 75px 0px;
  }

  section.home_sec5 .default_title h2 {
    font-size: 36px;
  }

  .testimonial .description h3 {
    font-size: 26px;
  }

  .quote {
    width: 50px;
    height: 50px;
    left: -35px;
    top: -35px;
  }

  section.home_sec5 {
    padding: 110px 0px 50px;
  }

  section.home_sec6 .default_title h2 {
    font-size: 36px;
  }

  section.home_sec6 {
    padding: 75px 0px 75px;
  }

  .send_btn span {
    font-size: 16px;
  }

  .send_btn {
    padding: 10px 30px;
    margin-bottom: 25px;
  }

  .default_title h4 {
    font-size: 20px;
  }

  .footer_bottom a {

    font-size: 18px;
  }

  .page_banner {
    min-height: 140px;
  }

  .button_box a.cta_2 {
    min-width: 95%;
    padding: 12px 25px;
    font-size: 18px;
  }

  img.img_move2 {

    bottom: -155px;
    max-width: 65%;
  }

  section.movie-subtitle-sec2 {
    min-height: 525px;
  }

  section.movie-subtitle-sec3 {
    padding: 200px 0px 50px;
  }

  section.movie-subtitle-sec5 {
    padding: 60px 0px 60px;
  }

  footer {
    padding: 65px 0px 10px;
  }

  .box_up_down {
    display: flex;
    margin-top: 20px;
  }

  .box_up_down .up_box {
    position: relative;
    bottom: 0px;
    flex: 1 1 0;
    margin-right: 15px;
  }

  .box_up_down .down_box {
    position: relative;
    top: 0px;
    flex: 1 1 0px;
    margin-left: 10px;
  }

  .box_grid {
    padding: 50px 50px;
  }

  section.about-us-sec3 {
    padding: 50px 0px 15px;
  }

  .profile_box:after {
    width: 130px;
    height: 130px;
    top: 20%;
  }

  .other_blog_box {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .other_blog_box .blog_box {
    max-width: 50%;
  }

  div#video_modal .modal-content {
    width: calc(100% - 20px);
    margin: auto;
  }

  div#fluid_video_wrapper_brand-care {
    width: 100% !important;
    height: auto !important;
  }

  .video_box button.btn-close {
    right: 5px;
    top: -30px;
  }
}


@media(max-width:767px) {

  .main_slider .item .cover .header-content h2 {
    font-size: 24px;
    line-height: 40px;
  }

  button.navbar-toggler {
    padding-right: 0px;
  }

  .navbar-brand img {
    max-width: 105px;
  }

  .main_slider .item .cover .header-content h4 {
    font-size: 16px;
    line-height: 30px;

  }

  .main_slider .item .cover .header-content h2 {
    font-size: 14px;
    line-height: 20px;
  }

  .main_slider a.cta_btn.cta_big {
    font-size: 12px;
    padding: 8px 20px;
  }

  .main_slider .item .cover .header-content {

    padding: 5px 0px;
    overflow: hidden;
  }

  .play_pause_btn {
    width: 45px;
    height: 45px;
    z-index: 9999;
  }

  .play_pause_icon {

    border-width: 6px 0 6px 10px;
    height: 10px;
  }

  .play_pause_icon.paused {
    border-width: 0px 0 0px 10px;
  }

  .owl-theme .owl-dots .owl-dot span {
    height: 15px;
    margin: 3px 5px;
    width: 5px;
  }

  div#banner_slider .owl-dots {
    margin: 0px;
    right: 0%;
  }

  section.home_sec5 .default_title h2 {
    font-size: 30px;
  }

  .testimonial .description h3 {
    font-size: 20px;
  }

  section.home_sec6 .default_title h2 {
    font-size: 30px;
  }

  .copyright ul {
    margin: 0px;
  }

  .copyright ul li {
    margin-right: 15px;
  }

  .copyright p,
  .copyright a {
    font-size: 12px;
  }

  .navbar-collapse {
    width: 75%;
  }

  .navbar-expand-lg .navbar-nav a {

    font-size: 16px;

  }

  footer {
    padding: 75px 0px 10px;
  }

  .page_banner {
    min-height: 80px;
  }

  .icon_box h4 {
    font-size: 16px;
  }

  section.movie-subtitle-sec2 {
    min-height: auto;
    padding-bottom: 30px;
  }

  .icon_box_2 img {
    max-width: 30%;
  }

  .button_box a.cta_2 {
    min-width: 85%;
    padding: 12px 25px;
  }

  section.movie-subtitle-sec3 {
    padding: 200px 0px 15px;
  }

  section.movie-subtitle-sec5 h2 {
    font-size: 20px;
  }

  .icon_box .icon {
    width: 70px;
    height: 70px;
  }

  .icon_box .icon img {
    max-width: 35px;
  }

  section.brand-care-sec2 {
    padding: 30px 0px 50px;
  }

  ul.list_style2 h4 {
    font-size: 18px;
  }

  .box_up_down {

    margin-top: 20px;
    flex-direction: column;
  }

  .box_up_down .up_box {

    margin-right: 0px;
  }

  .box_up_down .down_box {

    margin-left: 0px;
    margin-top: 20px;
  }

  .box_grid {
    padding: 50px 20px;
  }

  .profile_grid {
    padding: 0px 30px;
  }

  .profile_box:after {
    width: 190px;
    height: 190px;
    top: 21%;
  }

  section.about-us-sec5 .icon_box {
    display: flex;
    align-items: center;
  }

  section.about-us-sec5 .icon_box .icon {
    margin-right: 10px;
  }

  section.about-us-sec5 .icon_box h4 {
    margin: 0px;
  }

  .other_blog_box .blog_box {
    max-width: 100%;
  }
  .search-box.search-elem .inner {
    width: 95%;
}
}

@media(max-width:375px) {
  .button_box a.cta_2 {
    min-width: 90%;
  }
}

@media(max-width:360px) {
  .navbar-brand img {
    max-width: 100px;
  }

  .main_menu a.cta_btn {
    font-size: 14px;
    padding: 6px 15px;
  }

  .button_box a.cta_2 {
    min-width: 98%;
    font-size: 16px;
  }

}